In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [9]:
veri = pd.read_csv("../data/data1/mnist.csv")
print("Verinin Boyutu: ", veri.shape)
veri.head()

Verinin Boyutu:  (42000, 785)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# etiketleri ayırma 
Y_veri = veri["label"]
# x eğitim veri seti oluştur
X_veri = veri.drop(["label"], axis=1)
print("x veri:", X_veri.shape)
print("y veri", Y_veri.shape)

x veri: (42000, 784)
y veri (42000,)

In [11]:
# her bir rakamdan kaçar tane olduğuna bakma
plt.figure(figsize=(15,7))
g = sns.countplot(Y_veri, palette="icefire")
plt.title("Sınıflar")
plt.show()
print("Sınıflar ve örnek sayıları: ", Y_veri.value_counts())